$primary-font: "DINOT", "Oxygen", Arial, sans-serif;
$secondary-font: Arial, sans-serif;
$font-black: #424242;
$font-white: #ffffff;

@font-face {
    font-family: Myriad;
    src: url("/fonts/MyriadPro-Regular.otf") format("opentype");
}
