rightbar{
  .right-nav-bar{
    background:  #333232;
    height:100%;
    width: 100%;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    color: #fff;
  }
.margin-10
{
  margin: 10px;
}
.text-style
{
  width: 60%;
  color:#fff;
  font-family: Myriad;
  font-weight: normal;
}
.row-fluid
{
  margin-bottom: 20px;
}

.border-bottom-white
{
  border-bottom: 2px solid #000;
}
.row-fluid big-number, .row-fluid .number-style
{
  color:#a7a2a2;
}
@media(min-width:768px) {
  .row-fluid label
  {
    font-size: 1vw;
  }
}
  // .text-style{
  //   font-family: Myriad;
  //   color: white;
  //   // font-size: 14px;
  //   font-weight: normal;
  //   width:100%;
  //   padding:0;
  //   float: left;
  //   text-align: right;
  // }
  //
  // .number-style{
  //   font-family: Myriad;
  //   text-align: right;
  //   // font-size: 24px;
  //   color: #969696;
  //   float: right;
  //   width:100%;
  //   padding-right:10px;
  // }
    .right-side-nav {
        background-color: #333232;
    }

  @media(min-width:768px) {
    .right-side-nav {
        position: fixed;
        top: 50px;
        width: 180px;
        margin-left: -120px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #333232;
        bottom: 0;
        right:0;
        overflow-x: hidden;
        padding-bottom: 40px;
        z-index: 100;
        padding: 10px;
          border-left: 1px solid #000;
    }

    .right-side-nav li a:hover,
    .right-side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.right-side-nav>li>ul {
    padding: 0;
}

.right-side-nav>li>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #999;
}

.right-side-nav>li>ul>li>a:hover {
    color: #fff;
}
}
