dashboardMain{
    .main-div{
        width:100%;
    }

    .top-menu-bar{
        display: block;
        float: left;
    }

    .dashboard-main{
        display: block;
        clear: both;
    }
}
