plants-main{
@media (min-width: 768px){
  .plant-list{
    background: #333232;
    width: 100%;
    float: left;
    padding-left: 135px;
    position: fixed;
    color:#fff;
    z-index: 10;
  }
  .desktop-view
  {
    float: right;
  }
}
@media (max-width: 767px){
  .plant-list{
    background: #333232 ;
    color: #fff;
    width: 100%;
    h1
    {
      margin: auto;
    text-align: center;
    padding: 10px;
    }
  }
}
h1{
  font-size: 1.7em;
}
}
