.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-google-plus {
    color: #fff !important;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-social.btn-lg {
    padding-left: 61px;
}
.login_google
{
  width: 300px;
  margin: 15px auto;
}
