#highchart-gauge{
    cursor:pointer;
    .moon-gauge{
        width: 300px;
         height: 200px;
          float: left
    }
}
.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}